## Setup Python and R environment
you can ignore this section

In [17]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [19]:
%%R

# My commonly used R imports

require('tidyverse')

## Load & Clean Data

ðŸ‘‰ Load the data along with the census connectors below (the output of the `connect-to-census.ipynb` notebook) and do any cleanup you'd like to do.

In [5]:
import pandas as pd
df=pd.read_csv('selected_data.csv')
df.head(10)

,activity_year,lei,state_code,county_code,census_tract,applicant_race-1,applicant_race-2,co-applicant_race-1,co-applicant_race-2,applicant_sex,...,property_value,debt_to_income_ratio,action_taken,interest_rate,lender_credits,loan_term,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4
0,2023,549300JOT0D4J0SZIK67,FL,12105.0,12105012409.0,7.0,NaN,7.0,NaN,4,...,605000.0,NaN,6,4.875,104.76,348,10,NaN,NaN,NaN
1,2023,549300JOT0D4J0SZIK67,NV,32003.0,32003003228.0,7.0,NaN,7.0,NaN,4,...,335000.0,NaN,6,5.125,NaN,360,10,NaN,NaN,NaN
2,2023,549300JOT0D4J0SZIK67,WA,53077.0,53077003004.0,7.0,NaN,7.0,NaN,4,...,445000.0,NaN,6,6.0,NaN,360,10,NaN,NaN,NaN
3,2023,549300JOT0D4J0SZIK67,KS,20091.0,20091053803.0,7.0,NaN,7.0,NaN,4,...,355000.0,NaN,6,5.625,NaN,360,10,NaN,NaN,NaN
4,2023,549300JOT0D4J0SZIK67,WA,53005.0,53005010815.0,7.0,NaN,7.0,NaN,4,...,485000.0,NaN,6,5.875,NaN,360,10,NaN,NaN,NaN
5,2023,549300JOT0D4J0SZIK67,CA,6071.0,6071010415.0,7.0,NaN,7.0,NaN,4,...,235000.0,NaN,6,6.0,NaN,360,10,NaN,NaN,NaN
6,2023,549300JOT0D4J0SZIK67,TX,48303.0,48303001401.0,7.0,NaN,7.0,NaN,4,...,145000.0,NaN,6,6.625,65.9,360,10,NaN,NaN,NaN
7,2023,549300JOT0D4J0SZIK67,AZ,4019.0,4019004613.0,7.0,NaN,7.0,NaN,4,...,205000.0,NaN,6,6.0,NaN,360,10,NaN,NaN,NaN
8,2023,549300JOT0D4J0SZIK67,ME,23005.0,23005004701.0,7.0,NaN,7.0,NaN,4,...,455000.0,NaN,6,6.125,75.0,360,10,NaN,NaN,NaN
9,2023,549300JOT0D4J0SZIK67,CA,6017.0,6017031000.0,7.0,NaN,7.0,NaN,4,...,525000.0,NaN,6,6.0,NaN,360,10,NaN,NaN,NaN

In [6]:
%%R
df <- read.csv("selected_data.csv", stringsAsFactors = FALSE)
head(df, 10)

   activity_year                  lei state_code county_code  census_tract
1           2023 549300JOT0D4J0SZIK67         FL       12105 12105012409.0
2           2023 549300JOT0D4J0SZIK67         NV       32003 32003003228.0
3           2023 549300JOT0D4J0SZIK67         WA       53077 53077003004.0
4           2023 549300JOT0D4J0SZIK67         KS       20091 20091053803.0
5           2023 549300JOT0D4J0SZIK67         WA       53005 53005010815.0
6           2023 549300JOT0D4J0SZIK67         CA        6071  6071010415.0
7           2023 549300JOT0D4J0SZIK67         TX       48303 48303001401.0
8           2023 549300JOT0D4J0SZIK67         AZ        4019  4019004613.0
9           2023 549300JOT0D4J0SZIK67         ME       23005 23005004701.0
10          2023 549300JOT0D4J0SZIK67         CA        6017  6017031000.0
   applicant_race.1 applicant_race.2 co.applicant_race.1 co.applicant_race.2
1                 7               NA                   7                  NA
2                 7               NA                   7                  NA
3                 7               NA                   7                  NA
4                 7               NA                   7                  NA
5                 7               NA                   7                  NA
6                 7               NA                   7                  NA
7                 7               NA                   7                  NA
8                 7               NA                   7                  NA
9                 7               NA                   7                  NA
10                7               NA                   7                  NA
   applicant_sex co.applicant_sex applicant_sex.1 co.applicant_sex.1
1              4                4               4                  4
2              4                4               4                  4
3              4                4               4                  4
4              4                4               4                  4
5              4                4               4                  4
6              4                4               4                  4
7              4                4               4                  4
8              4                4               4                  4
9              4                4               4                  4
10             4                4               4                  4
   applicant_age co.applicant_age loan_type derived_loan_product_type
1           8888             8888         3             VA:First Lien
2           8888             8888         2            FHA:First Lien
3           8888             8888         3             VA:First Lien
4           8888             8888         2            FHA:First Lien
5           8888             8888         1   Conventional:First Lien
6           8888             8888         4        FSA/RHS:First Lien
7           8888             8888         1   Conventional:First Lien
8           8888             8888         1   Conventional:First Lien
9           8888             8888         2            FHA:First Lien
10          8888             8888         3             VA:First Lien
   loan_purpose              derived_dwelling_category total_units
1             1   Single Family (1-4 Units):Site-Built           1
2             1   Single Family (1-4 Units):Site-Built           1
3             1   Single Family (1-4 Units):Site-Built           1
4             1   Single Family (1-4 Units):Site-Built           1
5             1   Single Family (1-4 Units):Site-Built           1
6             1   Single Family (1-4 Units):Site-Built           1
7            32   Single Family (1-4 Units):Site-Built           1
8             1 Single Family (1-4 Units):Manufactured           1
9            32   Single Family (1-4 Units):Site-Built           1
10            1   Single Family (1-4 Units):Site-Built           1
   business_or_commercial_purpose occupancy_type income loan_amount
1                               2              1     NA      625000
2                               2              1     NA      235000
3                               2              1     NA      355000
4                               2              1     NA      345000
5                               2              1     NA      255000
6                               2              1     NA      245000
7                               2              3     NA      105000
8                               2              1     NA      135000
9                               2              1     NA      375000
10                              2              1     NA      525000
   total_loan_costs property_value debt_to_income_ratio action_taken
1           30278.0       605000.0                                 6
2           9919.16       335000.0                                 6
3          13210.41       445000.0                                 6
4          10519.38       355000.0                                 6
5           6669.18       485000.0                                 6
6           9686.98       235000.0                                 6
7           5984.52       145000.0                                 6
8            6109.2       205000.0                                 6
9          10031.66       455000.0                                 6
10          10176.6       525000.0                                 6
   interest_rate lender_credits loan_term denial_reason.1 denial_reason.2
1          4.875         104.76       348              10              NA
2          5.125                      360              10              NA
3            6.0                      360              10              NA
4          5.625                      360              10              NA
5          5.875                      360              10              NA
6            6.0                      360              10              NA
7          6.625           65.9       360              10              NA
8            6.0                      360              10              NA
9          6.125           75.0       360              10              NA
10           6.0                      360              10              NA
   denial_reason.3 denial_reason.4
1               NA              NA
2               NA              NA
3               NA              NA
4               NA              NA
5               NA              NA
6               NA              NA
7               NA              NA
8               NA              NA
9               NA              NA
10              NA              NA

## ðŸ‘‰ Grab Census Data

1. loading the Census API key

In [7]:
import dotenv

# Load the environment variables
# (loads CENSUS_API_KEY from .env)
dotenv.load_dotenv()

False

In [12]:
%%R 

require('tidycensus')

# because it an environment variable, we don't have to 
# explicitly pass this string to R, it is readable here
# in this R cell.
census_api_key(Sys.getenv("CENSUS_API_KEY"))

To install your API key for use in future sessions, run this function with `install = TRUE`.

2. Decide which Census variables you want

    Use <https://censusreporter.org/> to figure out which tables you want. (if censusreporter is down, check out the code in the cell below)

    -   Scroll to the bottom of the page to see the tables.
    -   If you already know the table ID, stick that in the "Explore" section to learn more about that table.

    By default this code loads (B01003_001) which we found in censusreporter here: https://censusreporter.org/tables/B01003/

    - find some other variables that you're also interested in
    - don't forget to pick a geography like "tract", "county" or "block group". here is the list of [all geographies](https://walker-data.com/tidycensus/articles/basic-usage.html#geography-in-tidycensus
    ).

In [24]:
%%R 

# Finding the Census Varaibles for the ACS 5 year survey
# Generall you'd do this in CensusReporter, but since it's down sometimes, here it is using tidycensus's load_variables function

# get every single variable in the ACS5
all_census_vars <- load_variables(2021, "acs5", cache = TRUE) 

filtered_census_vars <- all_census_vars %>% 
    filter(grepl("median income", label, ignore.case = TRUE))   # filter to those containing "median income"
    
# write to CSV so we can view it in python
filtered_census_vars %>% 
    write_csv("filtered_census_vars.csv")

# show the first few rows
filtered_census_vars %>%
    select(-geography) %>% # remove the geography column
    print(n = 20) # print the first 20 rows

# A tibble: 46 Ã— 3
   name         label                                                    concept
   <chr>        <chr>                                                    <chr>
 1 B06011PR_001 Estimate!!Median income in the past 12 months --!!Total: MEDIANâ€¦
 2 B06011PR_002 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
 3 B06011PR_003 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
 4 B06011PR_004 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
 5 B06011PR_005 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
 6 B06011_001   Estimate!!Median income in the past 12 months --!!Total: MEDIANâ€¦
 7 B06011_002   Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
 8 B06011_003   Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
 9 B06011_004   Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
10 B06011_005   Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
11 B07011PR_001 Estimate!!Median income in the past 12 months --!!Total: MEDIANâ€¦
12 B07011PR_002 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
13 B07011PR_003 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
14 B07011PR_004 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
15 B07011PR_005 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
16 B07011PR_006 Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
17 B07011_001   Estimate!!Median income in the past 12 months --!!Total: MEDIANâ€¦
18 B07011_002   Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
19 B07011_003   Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
20 B07011_004   Estimate!!Median income in the past 12 months --!!Totalâ€¦ MEDIANâ€¦
# â„¹ 26 more rows
# â„¹ Use `print(n = ...)` to see more rows

In [32]:
%%R

library(tidycensus)
# Set your census API key if you havenâ€™t already
#census_api_key("YOUR_API_KEY", install = TRUE)

nyc_census_data <- get_acs(
  geography = "tract",
  state = 'NY',
  county = c("New York", "Kings", "Queens", "Bronx", "Richmond"),
  variables = c(
    # Total Population
    population = "B01003_001",
    
    # Race Breakdown (Table B02001)
    total_race = "B02001_001",
    white = "B02001_002",
    black_or_african_american = "B02001_003",
    american_indian_alaska_native = "B02001_004",
    asian = "B02001_005",
    native_hawaiian_pacific_islander = "B02001_006",
    some_other_race = "B02001_007",
    two_or_more_races = "B02001_008",
    two_races_including_some_other_race = "B02001_009",
    two_races_excluding_some_other_race_three_more_races = "B02001_010",

    #Median Gross Rent (Dollars)
    median_gross_rent = "B25064_001",
    
    # Housing Units (Table B25001)
    total_housing_units = "B25001_001",
    
    # Occupancy Status (Table B25002)
    occupied_units = "B25002_002",
    vacant_units = "B25002_003",
    
    # Tenure by Units in Structure (Table B25032)
    owner_occupied_1_unit_detached = "B25032_004",
    owner_occupied_1_unit_attached = "B25032_005",
    owner_occupied_2_units = "B25032_006",
    owner_occupied_3_or_4_units = "B25032_007",
    owner_occupied_5_to_9_units = "B25032_008",
    owner_occupied_10_to_19_units = "B25032_009",
    owner_occupied_20_to_49_units = "B25032_010",
    owner_occupied_50_or_more_units = "B25032_011",
    owner_occupied_mobile_home = "B25032_012",
    renter_occupied_1_unit_detached = "B25032_013",
    renter_occupied_1_unit_attached = "B25032_014",
    renter_occupied_2_units = "B25032_015",
    renter_occupied_3_or_4_units = "B25032_016",
    renter_occupied_5_to_9_units = "B25032_017",
    renter_occupied_10_to_19_units = "B25032_018",
    renter_occupied_20_to_49_units = "B25032_019",
    renter_occupied_50_or_more_units = "B25032_020",
    renter_occupied_mobile_home = "B25032_021",
    
    # Tenure by Age of Householder (Table B25007)
    owner_occupied_householder_under_35 = "B25007_002",
    owner_occupied_householder_35_to_44 = "B25007_003",
    owner_occupied_householder_45_to_54 = "B25007_004",
    owner_occupied_householder_55_to_64 = "B25007_005",
    owner_occupied_householder_65_to_74 = "B25007_006",
    owner_occupied_householder_75_and_over = "B25007_007",
    renter_occupied_householder_under_35 = "B25007_009",
    renter_occupied_householder_35_to_44 = "B25007_010",
    renter_occupied_householder_45_to_54 = "B25007_011",
    renter_occupied_householder_55_to_64 = "B25007_012",
    renter_occupied_householder_65_to_74 = "B25007_013",
    renter_occupied_householder_75_and_over = "B25007_014",
    
    # Median Household Income (Table B19013)
    median_household_income = "B19013_001",
    white_median_household_income = "B19013A_001",
    black_median_household_income = "B19013B_001",
    asian_median_household_income = "B19013D_001",
    hispanic_median_household_income = "B19013I_001",
    american_indian_alaska_native_median_household_income = "B19013C_001",
    native_hawaiian_pacific_islander_median_household_income = "B19013E_001",
    some_other_race_median_household_income = "B19013F_001",
  

    # # Household Income (Table B19001)
    # total_households = "B19001_001",
    # household_income_under_10k = "B19001_002",
    # household_income_10k_to_14k = "B19001_003",
    # household_income_15k_to_19k = "B19001_004",
    # household_income_20k_to_24k = "B19001_005",
    # household_income_25k_to_29k = "B19001_006",
    # household_income_30k_to_34k = "B19001_007",
    # household_income_35k_to_39k = "B19001_008",
    # household_income_40k_to_44k = "B19001_009",
    # household_income_45k_to_49k = "B19001_010",
    # household_income_50k_to_59k = "B19001_011",
    # household_income_60k_to_74k = "B19001_012",
    # household_income_75k_to_99k = "B19001_013",
    # household_income_100k_to_124k = "B19001_014",
    # household_income_125k_to_149k = "B19001_015",
    # household_income_150k_to_199k = "B19001_016",
    # household_income_200k_and_over = "B19001_017",
    
    # GINI Inequality (Table B19083)
    GINI_inequality = "B19083_001",

    #Education (Table C15003)
    no_schooling_completed = "B15003_002",
    nursery_to_4th_grade = "B15003_003",
    `5th_6th_grade` = "B15003_004",
    `7th_8th_grade` = "B15003_005",
    `10th_grade` = "B15003_007",
    `11th_grade` = "B15003_008",
    `12th_grade_no_diploma` = "B15003_009",
    `high_school_diploma` = "B15003_010",
    `GED_alternative_credential` = "B15003_011",
    `some_college_less_than_1_year` = "B15003_012",
    `some_college_one_or_more_years_no_degree` = "B15003_013",
    `associate_degree` = "B15003_014",
    `bachelor_degree` = "B15003_015",
    master_degree = "B15003_016",
    professional_school_degree = "B15003_017",
    doctorate_degree = "B15003_018"
  ),
  year = 2021,
  survey = "acs5",
  geometry = FALSE
)
# Preview first 10 rows
head(nyc_census_data, 10)

# A tibble: 10 Ã— 5
   GEOID       NAME                                   variable    estimate   moe
   <chr>       <chr>                                  <chr>          <dbl> <dbl>
 1 36005000100 Census Tract 1, Bronx County, New York population      6661   702
 2 36005000100 Census Tract 1, Bronx County, New York total_race      6661   702
 3 36005000100 Census Tract 1, Bronx County, New York white           2680   292
 4 36005000100 Census Tract 1, Bronx County, New York black_or_aâ€¦     3272   473
 5 36005000100 Census Tract 1, Bronx County, New York american_iâ€¦       39    33
 6 36005000100 Census Tract 1, Bronx County, New York asian            177    76
 7 36005000100 Census Tract 1, Bronx County, New York native_hawâ€¦        0    18
 8 36005000100 Census Tract 1, Bronx County, New York some_otherâ€¦      263   163
 9 36005000100 Census Tract 1, Bronx County, New York two_or_morâ€¦      230   110
10 36005000100 Census Tract 1, Bronx County, New York two_races_â€¦      117    81

Getting data from the 2017-2021 5-year ACS
Using FIPS code '36' for state 'NY'
Using FIPS code '061' for 'New York County'
Using FIPS code '047' for 'Kings County'
Using FIPS code '081' for 'Queens County'
Using FIPS code '005' for 'Bronx County'
Using FIPS code '085' for 'Richmond County'
Using FIPS code '36' for state 'NY'
Using FIPS code '061' for 'New York County'
Using FIPS code '047' for 'Kings County'
Using FIPS code '081' for 'Queens County'
Using FIPS code '005' for 'Bronx County'
Using FIPS code '085' for 'Richmond County'
Using FIPS code '36' for state 'NY'
Using FIPS code '061' for 'New York County'
Using FIPS code '047' for 'Kings County'
Using FIPS code '081' for 'Queens County'
Using FIPS code '005' for 'Bronx County'
Using FIPS code '085' for 'Richmond County'

In [33]:
%%R
colnames(filtered_census_vars)

[1] "name"      "label"     "concept"   "geography"

## ðŸ‘‰ Merge it with your data

hint...`tidycensus` provides you data in long format you may need to pivot the census data from long to wide format before merging it with your data

In [34]:
%%R
class(df)
class(nyc_census_data)

[1] "tbl_df"     "tbl"        "data.frame"

In [35]:
%%R
nyc_census_wide <- nyc_census_data %>%
    select(GEOID, NAME, variable, estimate)%>%
  pivot_wider(names_from = variable, values_from =  estimate)

In [13]:
%%R
head(nyc_census_wide,10)

# A tibble: 10 Ã— 82
   GEOID       NAME     population total_race white_alone black_or_african_ameâ€¦Â¹
   <chr>       <chr>         <dbl>      <dbl>       <dbl>                  <dbl>
 1 36005000100 Census â€¦       6661       6661        2680                   3272
 2 36005000200 Census â€¦       4453       4453        1235                   1262
 3 36005000400 Census â€¦       6000       6000        1809                   1472
 4 36005001600 Census â€¦       6038       6038         996                   2322
 5 36005001901 Census â€¦       2168       2168         664                    868
 6 36005001902 Census â€¦       1399       1399         291                    436
 7 36005001903 Census â€¦          0          0           0                      0
 8 36005001904 Census â€¦          0          0           0                      0
 9 36005002001 Census â€¦       4694       4694         507                   2745
10 36005002002 Census â€¦       4274       4274         950                    843
# â„¹ abbreviated name: Â¹â€‹black_or_african_american_alone
# â„¹ 76 more variables: american_indian_alaska_native_alone <dbl>,
#   asian_alone <dbl>, native_hawaiian_pacific_islander_alone <dbl>,
#   some_other_race_alone <dbl>, two_or_more_races <dbl>,
#   two_races_including_some_other_race <dbl>,
#   two_races_excluding_some_other_race_three_more_races <dbl>,
#   total_households <dbl>, household_income_under_10k <dbl>, â€¦

In [36]:
%%R
library(dplyr)

merged_df <- merge(df, nyc_census_wide, by.x = "census_tract", by.y = "GEOID", all = FALSE)

In [15]:
%%R 
head(merged_df, 10)

   census_tract activity_year                  lei state_code county_code
1   36005000200          2023

 RVDPPPGHCGZ40J4VQ731         NY       36005
2   36005000200          2023 RVDPPPGHCGZ40J4VQ731         NY       36005
3   36005000200          2023 DRMSV1Q0EKMEXLAU1P80         NY       36005
4   36005000200          2023 DRMSV1Q0EKMEXLAU1P80         NY       36005
5   36005000200          2023 RVDPPPGHCGZ40J4VQ731         NY       36005
6   36005000200          2023 DRMSV1Q0EKMEXLAU1P80         NY       36005
7   36005000200          2023 5493008NWHQT1R22C024         NY       36005
8   36005000200          2023 DRMSV1Q0EKMEXLAU1P80         NY       36005
9   36005000200          2023 549300FGXN1K3HLB1R50         NY       36005
10  36005000200          2023 WWB2V0FCW3A0EE3ZJN75         NY       36005
         derived_ethnicity              derived_race       derived_sex
1  Ethnicity Not Available        Race Not Available Sex Not Available
2  Ethnicity Not Available        Race Not Available Sex Not Available
3  Ethnicity Not Available        Race Not Available              Male
4       Hispanic or Latino        Race Not Available             Joint
5  Ethnicity Not Available        Race Not Available             Joint
6       Hispanic or Latino                     White            Female
7  Ethnicity Not Available        Race Not Available             Joint
8       Hispanic or Latino        Race Not Available              Male
9       Hispanic or Latino                     White             Joint
10      Hispanic or Latino Black or African American              Male
              derived_dwelling_category applicant_age applicant_age_above_62
1  Single Family (1-4 Units):Site-Built          8888
2  Single Family (1-4 Units):Site-Built          8888
3  Single Family (1-4 Units):Site-Built         55-64                     No
4  Single Family (1-4 Units):Site-Built         45-54                     No
5  Single Family (1-4 Units):Site-Built         35-44                     No
6  Single Family (1-4 Units):Site-Built         55-64                     No
7  Single Family (1-4 Units):Site-Built         35-44                     No
8  Single Family (1-4 Units):Site-Built         25-34                     No
9  Single Family (1-4 Units):Site-Built         55-64                     No
10 Single Family (1-4 Units):Site-Built         65-74                    Yes
   loan_type business_or_commercial_purpose co.applicant_age income
1          2                              1             8888     NA
2          2                              2             8888     NA
3          1                              2             9999     65
4          1                              2            55-64     94
5          2                              2            45-54    141
6          1                              2             9999    113
7          1                              2            35-44    110
8          1                              2             9999     84
9          1                              2            55-64    103
10         1                              2             9999     74
   debt_to_income_ratio applicant_credit_score_type action_taken loan_amount
1                                                 9            6      515000
2                                                 9            6      565000
3                  >60%                           7            3      185000
4                    49                           7            1       85000
5               50%-60%                           9            1      765000
6                  >60%                           7            3      125000
7                                                 9            4      455000
8                  >60%                           7            3      105000
9                    48                           3            1      145000
10                   44                           8            1       25000
   loan_purpose interest_rate loan_term property_value state_code.1
1             1          5.75       360         525000           NY
2             1         6.625       360         705000           NY
3             2                     300       775000.0           NY
4             4          8.75       300       615000.0           NY
5             1         5.625       360         845000           NY
6             4                     300       855000.0           NY
7            32                     360                          NY
8             2                     300       805000.0           NY
9            32          6.99       120         425000           NY
10            2         12.69       360       585000.0           NY
   county_code.1 census_tract.1 denial_reason.1 denial_reason.2 denial_reason.3
1          36005    36005000200              10              NA              NA
2          36005    36005000200              10              NA              NA
3          36005    36005000200               1              NA              NA
4          36005    36005000200              10              NA              NA
5          36005    36005000200              10              NA              NA
6          36005    36005000200               4               1              NA
7          36005    36005000200              10              NA              NA
8          36005    36005000200               9              NA              NA
9          36005    36005000200              10              NA              NA
10         36005    36005000200              10              NA              NA
   denial_reason.4                                   NAME population total_race
1               NA Census Tract 2, Bronx County, New York       4453       4453
2               NA Census Tract 2, Bronx County, New York       4453       4453
3               NA Census Tract 2, Bronx County, New York       4453       4453
4               NA Census Tract 2, Bronx County, New York       4453       4453
5               NA Census Tract 2, Bronx County, New York       4453       4453
6               NA Census Tract 2, Bronx County, New York       4453       4453
7               NA Census Tract 2, Bronx County, New York       4453       4453
8               NA Census Tract 2, Bronx County, New York       4453       4453
9               NA Census Tract 2, Bronx County, New York       4453       4453
10              NA Census Tract 2, Bronx County, New York       4453       4453
   white_alone black_or_african_american_alone
1         1235                            1262
2         1235                            1262
3         1235                            1262
4         1235                            1262
5         1235                            1262
6         1235                            1262
7         1235                            1262
8         1235                            1262
9         1235                            1262
10        1235                            1262
   american_indian_alaska_native_alone asian_alone
1                                    0         160
2                                    0         160
3                                    0         160
4                                    0         160
5                                    0         160
6                                    0         160
7                                    0         160
8                                    0         160
9                                    0         160
10                                   0         160
   native_hawaiian_pacific_islander_alone some_other_race_alone
1                                       0                  1450
2                                       0                  1450
3                                       0                  1450
4                                       0                  1450
5                                       0                  1450
6                                       0                  1450
7                                       0                  1450
8                                       0                  1450
9                                       0                  1450
10                                      0                  1450
   two_or_more_races two_races_including_some_other_race
1                346                                 232
2                346                                 232
3                346                                 232
4                346                                 232
5                346                                 232
6                346                                 232
7                346                                 232
8                346                                 232
9                346                                 232
10               346                                 232
   two_races_excluding_some_other_race_three_more_races total_households
1                                                   114             1392
2                                                   114             1392
3                                                   114             1392
4                                                   114             1392
5                                                   114             1392
6                                                   114             1392
7                                                   114             1392
8                                                   114             1392
9                                                   114             1392
10                                                  114             1392
   household_income_under_10k household_income_10k_to_14k
1                         110                          11
2                         110                          11
3                         110                          11
4                         110                          11
5                         110                          11
6                         110                          11
7                         110                          11
8                         110                          11
9                         110                          11
10                        110                          11
   household_income_15k_to_19k household_income_20k_to_24k
1                           52                          96
2                           52                          96
3                           52                          96
4                           52                          96
5                           52                          96
6                           52                          96
7                           52                          96
8                           52                          96
9                           52                          96
10                          52                          96
   household_income_25k_to_29k household_income_30k_to_34k
1                          116                          44
2                          116                          44
3                          116                          44
4                          116                          44
5                          116                          44
6                          116                          44
7                          116                          44
8                          116                          44
9                          116                          44
10                         116                          44
   household_income_35k_to_39k household_income_40k_to_44k
1                           34                         126
2                           34                         126
3                           34                         126
4                           34                         126
5                           34                         126
6                           34                         126
7                           34                         126
8                           34                         126
9                           34                         126
10                          34                         126
   household_income_45k_to_49k household_income_50k_to_59k
1                            0                          43
2                            0                          43
3                            0                          43
4                            0                          43
5                            0                          43
6                            0                          43
7                            0                          43
8                            0                          43
9                            0                          43
10                           0                          43
   household_income_60k_to_74k household_income_75k_to_99k
1                           96                         114
2                           96                         114
3                           96                         114
4                           96                         114
5                           96                         114
6                           96                         114
7                           96                         114
8                           96                         114
9                           96                         114
10                          96                         114
   household_income_100k_to_124k household_income_125k_to_149k
1                            313                            91
2                            313                            91
3                            313                            91
4                            313                            91
5                            313                            91
6                            313                            91
7                            313                            91
8                            313                            91
9                            313                            91
10                           313                            91
   household_income_150k_to_199k household_income_200k_and_over
1                             39                            107
2                             39                            107
3                             39                            107
4                             39                            107
5                             39                            107
6                             39                            107
7                             39                            107
8                             39                            107
9                             39                            107
10                            39                            107
   median_household_income GINI_inequality total_families
1                    70867          0.4486           1026
2                    70867          0.4486           1026
3                    70867          0.4486           1026
4                    70867          0.4486           1026
5                    70867          0.4486           1026
6                    70867          0.4486           1026
7                    70867          0.4486           1026
8                    70867          0.4486           1026
9                    70867          0.4486           1026
10                   70867          0.4486           1026
   family_income_under_10k family_income_10k_to_14k family_income_15k_to_19k
1                       76                       43                       16
2                       76                       43                       16
3                       76                       43                       16
4                       76                       43                       16
5                       76                       43                       16
6                       76                       43                       16
7                       76                       43                       16
8                       76                       43                       16
9                       76                       43                       16
10                      76                       43                       16
   family_income_20k_to_24k family_income_25k_to_29k family_income_30k_to_34k
1                        26                       94                       33
2                        26                       94                       33
3                        26                       94                       33
4                        26                       94                       33
5                        26                       94                       33
6                        26                       94                       33
7                        26                       94                       33
8                        26                       94                       33
9                        26                       94                       33
10                       26                       94                       33
   family_income_35k_to_39k family_income_40k_to_44k family_income_45k_to_49k
1                        23                       87                        0
2                        23                       87                        0
3                        23                       87                        0
4                        23                       87                        0
5                        23                       87                        0
6                        23                       87                        0
7                        23                       87                        0
8                        23                       87                        0
9                        23                       87                        0
10                       23                       87                        0
   family_income_50k_to_59k family_income_60k_to_74k family_income_75k_to_99k
1                        25                       96                      114
2                        25                       96                      114
3                        25                       96                      114
4                        25                       96                      114
5                        25                       96                      114
6                        25                       96                      114
7                        25                       96                      114
8                        25                       96                      114
9                        25                       96                      114
10                       25                       96                      114
   family_income_100k_to_124k family_income_125k_to_149k
1                         202                         57
2                         202                         57
3                         202                         57
4                         202                         57
5                         202                         57
6                         202                         57
7                         202                         57
8                         202                         57
9                         202                         57
10                        202                         57
   family_income_150k_to_199k family_income_200k_and_over total_housing_units
1                          27                         107                1487
2                          27                         107                1487
3                          27                         107                1487
4                          27                         107                1487

In [37]:
%%R
write.csv(merged_df, "merged_df_census_mda.csv", row.names = FALSE)